header{
    background-color: #f1f1f5;
    color:#000000;
    border-bottom: #181717 3px solid;
    padding-top: 20px;
}

.brandtitle{
    width:80%;
    font-size:30px;
    font-style: helvetica, arial;
    font-weight:bold;
}
header a{
    text-decoration:none;
    text-transform: uppercase;
    font-size:18px;
    color: #424244;
}
header a:hover{
    font-weight: bolder;
    color: #424244;
    color:#000000
}
.menu-burg{
    display: none;
}
.nav li{
    padding:0px 10px;
}
.nav {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items:center;
}
