
    .brandtitle nav ul{
        display:none;
    }
    .brandtitle nav label{
        display: inline-block;
    }
    header{
        display:flex;
        align-items: center;
        background-color: #f1f1f5;
        color:#000000;
        border-bottom: #181717 3px solid;
        padding-top: 20px;
        width:100%;
        margin-bottom:20px;
        padding:10px;
    }
    .brandtitle{
        width:100%;
        font-size:30px;
        font-family: helvetica, arial;
        font-weight:900;
        display:flex;
        justify-content: space-between;
    }
    .brandtitle h1{
        display:flex;
        margin-bottom:10px;
        margin-left:10px;
    }
    header a{
        text-decoration:none;
        text-transform: uppercase;
        font-size:15px;
        color: #424244;
    }
    header a:hover{
        font-weight: bolder;
        color: #424244;
        color:#704242;
    }
@media (min-width:900px) {
    .brandtitle nav label{
        display: none;
    }
    .brandtitle nav ul{
        display:flex;
    }
    .nav li{
        padding:0px 10px;
    }
    .brandtitle ul {
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
    }
}