
.body{
    margin-left:10px;
    margin-right:10px;
}
.boxpri{
    margin-right:0px;
    margin-bottom:10px;
    width:65%;
}
.mainh{
    Font-size:40px;
    text-align:center;
    font-weight: bold;
    font-family: helvetica,arial;
}
.mainp{
    Font-size:20px;
    font-family: helvetica,arial;
    text-align: center;
}
.maina{
    text-decoration: none;
    color:#000000;
}
.maina:hover{
    color:red;
}
.mainpa{
    text-decoration: none;
    color:#000000;
}
.mainpa:hover{
    color:red;
}
.boxpri img {
    width:100%;
}
.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
    .box1{
        text-align:center;
        width:100%;
        padding:10px;
    }
    .box1 p{
        font-size: 16px;
        font-family: helvetica,arial;
        text-align:center;
    }
    .box1 a{
        text-decoration: none;
        color:#000000;
    }
    .box1 a:hover{
        font-weight: bolder;
        color:red;
    }
    .box1 img{
        width: 120px;
    }
    .box2{
        text-align:center;
        width:100%;
        padding:10px;
    }
    .box2 p{
        font-size:16px;
        font-family: helvetica,arial;
        text-align:center;
    }
    .box2 a{
        text-decoration: none;
        color:#000000;
    }
    .box2 a:hover{
        font-weight: bolder;
        color:red;
    }
    .box2 img{
        width:120px;
    }
    .box3{
        text-align:center;
        width:100%;
        padding:10px;
    }
    .box3 p{
        font-size:16px;
        font-family: helvetica,arial;
        text-align:center;
    }
    .box3 a{
        text-decoration: none;
        color:#000000;
    }
    .box3 a:hover{
        font-weight: bold;
        color:red;
    }
    .box3 img{
        width:120px;
    }
    .asided aside{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid;
        border-top: 2px solid;
    }
    .othernewsh{
        font-size:16px;
        font-family:helvetica,arial;
        text-align:center;
        margin-bottom:5px;
    }
    .h3a{
        text-decoration: none;
        color:#000000;
        font-weight: bold;
    }
    .h3a:hover{
        color:red;
        font-weight:bolder;
    }
    .paother{
        text-decoration: none;
        color:#000000;
    }
    .paother:hover{
        color:red;
    }
    .othernewsp{
        text-align:center;
        font-size:14px;
        font-family: helvetica,arial;
        margin-bottom:5px;
    }
    .box{
        width:300px;
        margin: 5px 10px;
    }
    .box img{
        width:100%;
    }
    .container2 {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:100%;
    }
    @media (min-width:900px) {
        .asided aside{
            display:flex;
            flex-direction:column;
            justify-content: space-around;
            align-items: center;
            border-bottom:none;
            border-top:none;
            border-left:3px solid;
        }
        .container{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            width:100%;
        }
        .boxpri{
            padding-right:70px;
        }
    }
